@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid no-padding">
    <div class="main-slider">
        <div class="item">
            <div class="main-slider-img position-r">
                <img src="~/assets/img/s1.jpg" alt="">
                <div class="overlay"></div>
                <div class="main-slider-content">
                    <h2 class="lora fz-20 white text-bold text-italic">Save the Children</h2>
                    <h3 class="white text-uppercase mt-25 position-r">Knowledge will bring you the <br>opportunity to make a difference.</h3>
                    <h4 class="lora fz-18 white text-bold text-italic mt-30">Volunteers do not Necessarily have the Time, They Just have the Heart.</h4>
                    <div class="mt-30">
                        <a class="martel fz-14 text-bold" href="#">LEARN MORE <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="main-slider-img position-r">
                <img src="~/assets/img/s2.jpg" alt="">
                <div class="overlay"></div>
                <div class="main-slider-content slide-2 text-center">
                    <h2 class="lora fz-20 white text-bold text-italic">Help the Disadvantaged People</h2>
                    <h3 class="white text-uppercase mt-25 position-r">Give a Helping Hand to <br>those who need it!</h3>
                </div>
            </div>
        </div>
    </div>
</div>