@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="projects gray-f9f9-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" black h-sep">OnGoing  <span class="text-ultra-bold">Projects</span> </h3>
                <p class="fz-16 gray-666 mt-50">Our charity helps those people who have no hope</p>
                <div class="p-filter-nav mt-30">
                    <a href="javascript:" data-filter="all" class="filter ubuntu text-light">All</a>
                    <a href="javascript:" data-filter=".edu" class="filter ubuntu text-light">Education</a>
                    <a href="javascript:" data-filter=".health" class="filter ubuntu text-light">Healthcare</a>
                    <a href="javascript:" data-filter=".live" class="filter ubuntu text-light">Livehood</a>
                    <a href="javascript:" data-filter=".dis" class="filter ubuntu text-light">Disaster</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="Container" class="mt-90">
            <div class="row">
                <div class="col-md-15 no-padding-left mix edu">
                    <div class="project-img position-r">
                        <img class="img-responsive" src="~/assets/img/project1.jpg" alt="">
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h5 class="white text-ultra-bold text-uppercase"><a class="white" href="#">Gift To Help Children</a></h5>
                                <div class="progress-status mt-25">
                                    <div class="barWrapper">
                                        <!-- <span class="progressText"><B>CSS3</B></span> -->
                                        <div class="progress ">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100" style="">
                                                <span class="popOver" data-toggle="tooltip" data-placement="bottom" title="78%"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="martel fz-12 text-semi-bold white text-uppercase pull-left">Goal $ 56,342</span>

                            </div>
                        </div>
                        <div class="project-details-overlay">
                            <h6 class="text-extra-bold white text-uppercase display-ib">Helping for Food</h6>
                            <a href="#" class="btn-prime tri-b text-uppercase">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 no-padding-left mix health">
                    <div class="project-img position-r">
                        <img class="img-responsive" src="~/assets/img/project2.jpg" alt="">
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h5 class="white text-ultra-bold text-uppercase"><a class="white" href="#">Gift To Help Children</a></h5>
                                <div class="progress-status mt-25">
                                    <div class="barWrapper">
                                        <!-- <span class="progressText"><B>CSS3</B></span> -->
                                        <div class="progress ">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100" style="">
                                                <span class="popOver" data-toggle="tooltip" data-placement="bottom" title="78%"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="martel fz-12 text-semi-bold white text-uppercase pull-left">Goal $ 56,342</span>

                            </div>
                        </div>
                        <div class="project-details-overlay">
                            <h6 class="text-extra-bold white text-uppercase display-ib">Helping for Food</h6>
                            <a href="#" class="btn-prime tri-b text-uppercase">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 no-padding-left mix live">
                    <div class="project-img position-r">
                        <img class="img-responsive" src="~/assets/img/project3.jpg" alt="">
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h5 class="white text-ultra-bold text-uppercase"><a class="white" href="#">Gift To Help Children</a></h5>
                                <div class="progress-status mt-25">
                                    <div class="barWrapper">
                                        <!-- <span class="progressText"><B>CSS3</B></span> -->
                                        <div class="progress ">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100" style="">
                                                <span class="popOver" data-toggle="tooltip" data-placement="bottom" title="78%"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="martel fz-12 text-semi-bold white text-uppercase pull-left">Goal $ 56,342</span>

                            </div>
                        </div>
                        <div class="project-details-overlay">
                            <h6 class="text-extra-bold white text-uppercase display-ib">Helping for Food</h6>
                            <a href="#" class="btn-prime tri-b text-uppercase">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 no-padding-left mix dis">
                    <div class="project-img position-r">
                        <img class="img-responsive" src="~/assets/img/project4.jpg" alt="">
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h5 class="white text-ultra-bold text-uppercase"><a class="white" href="#">Gift To Help Children</a></h5>
                                <div class="progress-status mt-25">
                                    <div class="barWrapper">
                                        <!--  <span class="progressText"><B>CSS3</B></span> -->
                                        <div class="progress ">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100" style="">
                                                <span class="popOver" data-toggle="tooltip" data-placement="bottom" title="78%"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="martel fz-12 text-semi-bold white text-uppercase pull-left">Goal $ 56,342</span>

                            </div>
                        </div>
                        <div class="project-details-overlay">
                            <h6 class="text-extra-bold white text-uppercase display-ib">Helping for Food</h6>
                            <a href="#" class="btn-prime tri-b text-uppercase">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-15 no-padding-left mix dis">
                    <div class="project-img position-r">
                        <img class="img-responsive" src="~/assets/img/project5.jpg" alt="">
                        <div class="project-hover">
                            <div class="project-hover-content">
                                <h5 class="white text-ultra-bold text-uppercase"><a class="white" href="#">Gift To Help Children</a></h5>
                                <div class="progress-status mt-25">
                                    <div class="barWrapper">
                                        <!--  <span class="progressText"><B>CSS3</B></span> -->
                                        <div class="progress ">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="78" aria-valuemin="10" aria-valuemax="100" style="">
                                                <span class="popOver" data-toggle="tooltip" data-placement="bottom" title="78%"> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span class="martel fz-12 text-semi-bold white text-uppercase pull-left">Goal $ 56,342</span>

                            </div>
                        </div>
                        <div class="project-details-overlay">
                            <h6 class="text-extra-bold white text-uppercase display-ib">Helping for Food</h6>
                            <a href="#" class="btn-prime tri-b text-uppercase">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-100 view-more">
                <a href="#" class="btn-prime tri-b fz-15">View More</a>
            </div>
        </div>
    </div>
</section>
