@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="trust-o">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="charity-video">
                    <iframe src="https://player.vimeo.com/video/138598929?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="trust-us">
                    <h2 class="white text-bold h-sep">Who we are ? Organization You Can Trust</h2>
                    <h5 class="karala white text-bold mt-50">We Help 70,0000 Childs, turn tears to smiles. </h5>
                    <p class="white mt-15">Aliquip ex ea cmodo consequat. Duis aute irure dolor in repr ehenderit sachanathaainas voluptate velit esse cillum...</p>
                </div>
                <div class="fund-process mt-30 display-ib">
                    <h6 class="white text-bold">FundRasing Process</h6>
                    <div class="fund-state mt-40">
                        <div class="barWrapper">
                            <!-- <span class="progressText"><B>CSS3</B></span> -->
                            <div class="progress ">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="10" aria-valuemax="100" style="">
                                    <span class="popOver" data-toggle="tooltip" data-placement="top" title="60%"> </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="fund-details">
                        <div class="detail-goal text-center display-ib">
                            <img src="~/assets/img/raised.png" alt="">
                            <span class="fz-13 white martel text-bold display-block mt-10">Raised $ 5,876</span>
                        </div>
                        <div class="detail-goal text-center display-ib">
                            <img src="~/assets/img/goal.png" alt="">
                            <span class="fz-13 white martel text-bold display-block mt-10">Goal $ 65,873</span>
                        </div>
                        <div class="detail-goal text-center display-ib">
                            <img src="~/assets/img/days.png" alt="">
                            <span class="fz-13 white martel text-bold display-block mt-10">Days Left 15</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>