@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="our-help mt-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" white h-sep">How Can   <span class="text-ultra-bold">We Help ? </span> </h3>
                <p class="fz-16 white mt-50">In 2015 we distributed $.56m in funding to 60 organisations and projects.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder" class="clearfix">
                    <canvas id="chart-area" class="pull-left"></canvas>
                    <div class="round-bar-status pull-left text-center">
                        <h2 class="white text-semi-bold">20%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">Volunteers</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder1" class="clearfix">
                    <canvas id="chart-area1" class="pull-left"></canvas>
                    <div class="round-bar-status pull-left text-center">
                        <h2 class="white text-semi-bold">55%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">education</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder2" class="clearfix">
                    <canvas id="chart-area2" class="pull-left"></canvas>
                    <div class="round-bar-status pull-left text-center">
                        <h2 class="white text-semi-bold">70%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">donators</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 mt-70">
                <div id="canvas-holder3" class="clearfix">
                    <canvas id="chart-area3" class="pull-left"></canvas>
                    <div class="round-bar-status pull-left text-center">
                        <h2 class="white text-semi-bold">85%</h2>
                        <h5 class="fz-13 text-semi-bold white text-uppercase mt-10">event program</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>