@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="staff mt-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class=" black h-sep">Our  <span class="text-ultra-bold">Staffs</span> </h3>
                <p class="fz-16 gray-666 mt-50">Our charity helps those people who have no hope</p>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-md-3 col-md-offset-1 staff-member position-r text-center col-sm-6">
                <img class="img-responsive" src="~/assets/img/staff1.png" alt="">
                <div class="staff-hover">
                    <ul class="staff-social list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <h6 class="white text-bold text-uppercase">NICK CORDINGLEY</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">design partner</span>
                    <span class="mt-20 ubuntu fz-13 text-medium white display-block">Tell : +61 012 345 6789</span>
                    <span class="mt-10 ubuntu fz-13 text-medium white display-block">Mail : example@gmail.com</span>
                </div>
                <div class="staff-overlay">
                    <h6 class="white text-bold text-uppercase">NICK CORDINGLEY</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">design partner</span>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 staff-member position-r text-center col-sm-6">
                <img class="img-responsive" src="~/assets/img/staff2.png" alt="">
                <div class="staff-hover">
                    <ul class="staff-social list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <h6 class="white text-bold text-uppercase">chris evans</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">design partner</span>
                    <span class="mt-20 ubuntu fz-13 text-medium white display-block">Tell : +61 012 345 6789</span>
                    <span class="mt-10 ubuntu fz-13 text-medium white display-block">Mail : example@gmail.com</span>
                </div>
                <div class="staff-overlay">
                    <h6 class="white text-bold text-uppercase">chris evans</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">design partner</span>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-1 staff-member position-r text-center col-sm-6">
                <img class="img-responsive" src="~/assets/img/staff3.png" alt="">
                <div class="staff-hover">
                    <ul class="staff-social list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <h6 class="white text-bold text-uppercase">Stevan Smith</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">design partner</span>
                    <span class="mt-20 ubuntu fz-13 text-medium white display-block">Tell : +61 012 345 6789</span>
                    <span class="mt-10 ubuntu fz-13 text-medium white display-block">Mail : example@gmail.com</span>
                </div>
                <div class="staff-overlay">
                    <h6 class="white text-bold text-uppercase">Stevan Smith</h6>
                    <span class=" mt-15 ubuntu white text-medium text-uppercase display-block fz-11">design partner</span>
                </div>
            </div>
        </div>
    </div>
</section>