@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="mt-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 overcoming">
                <h4 class="d-black lh-33 h-sep">Overcoming Cancer Were Nothing Compared to My Latest Struggle</h4>
                <p class="lh-28 mt-50 fz-15">We finally got a piece of the pie. we might as well say Would you be mine? Could you be mine? Won't you be my neighbor We're gonna do it. On your mark get set and go now  Got a dream and we just know. </p>
                <p class="lh-28 mt-20 fz-15">Now we're gonna make our dream come true. You wanna be where you can see our troubles are all the same. You wanna be where everybody.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="count-down">
                    <div class="count-header clearfix">
                        <div class="pull-left">
                            <h4 class="green-6f text-uppercase mb-15 text-semi-bold">Up Comming Events</h4>
                            <span class="karla gray-777 fz-14"><i class="fa fa-clock-o"></i> Nov - 14 - 2015    <span class="three-pm">3.00 pm</span></span>
                        </div>
                        <img class="pull-right mt-10" src="~/assets/img/calendar.png" alt="">
                    </div>

                    <div id="clock"></div>
                    <div class="btns mt-50">
                        <a class="text-uppercase martel fz-14 btn-prime tri-b" href="#">See all our events</a>
                        <a class="text-uppercase martel fz-12" href="#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>