@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="about-area two">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/assets/img/about-2.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text ptb-100">
                    <span>About Us</span>
                    <h2>A Dream in their Mind is Our Mission</h2>
                    <p class="mb-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text Lorem ipsum dolor sit amet, consectetur adipiscing elit, magna aliqua.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas dolor sit amet, consectetur adipiscing.</p>
                    <a class="default-btn" href="AboutUs">More Details</a>
                </div>
            </div>
        </div>
    </div>
</section>