@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- slider lon nhat trang web-->
<section class="hero-slider-area">
    <div class="hero-slider owl-carousel owl-theme">
        <div class="hero-slider-item slider-item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="hero-slider-text">
                            <span>Bringing Smiles</span>
                            <h1>Bringing Smiles to Millions!</h1>
                            <p>Our focus is to make the next generation needful child ready for giving back to the world! Your support is the key to make us successful to make the next generation needful child ready for giving.</p>
                            <div class="slider-button">
                                <a class="default-btn" href="#">
                                    Join Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item slider-item-bg-2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="hero-slider-text">
                            <span>Bringing Happiness</span>
                            <h1>Charity for a Better Future, Charity Brings Happiness!</h1>
                            <p>Our focus is to make the next generation needful child ready for giving back to the world! Your support is the key to make us successful to make the next generation needful child ready for giving.</p>
                            <div class="slider-button">
                                <a class="default-btn" href="#">
                                    Join Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider-item slider-item-bg-3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="hero-slider-text">
                            <span>Bringing Completeness</span>
                            <h1>We Encourage Participating in Charity!</h1>
                            <p>Our focus is to make the next generation needful child ready for giving back to the world! Your support is the key to make us successful to make the next generation needful child ready for giving.</p>
                            <div class="slider-button">
                                <a class="default-btn" href="#">
                                    Join Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape shape-11">
        <img src="~/assets/img/shape/11.png" alt="">
    </div>
    <div class="shape shape-12">
        <img src="~/assets/img/shape/12.png" alt="">
    </div>
</section>