@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="good-causes-area two ptb-100-70">
    <div class="container">
        <div class="section-title">
            <span>Good Causes</span>
            <h2>Help the Poor Through Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-good-causes two">
                    <i class="flaticon-drop"></i>
                    <h3>Save Water</h3>
                    <p>Lorem ipsum dolor amet, consectetur amet adipiscing elit, sed do eiusmod incididunt labore dolore ipsum dolor amet, consectetur.</p>
                    <a class="read-more" href="causes-details.html">
                        Read More
                    </a>
                    <div class="shape-icon">
                        <i class="flaticon-drop"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-good-causes two">
                    <i class="flaticon-volunteer"></i>
                    <h3>Become Volunteer</h3>
                    <p>Lorem ipsum dolor amet, consectetur amet adipiscing elit, sed do eiusmod incididunt labore dolore ipsum dolor amet, consectetur.</p>
                    <a class="read-more" href="causes-details.html">
                        Read More
                    </a>
                    <div class="shape-icon">
                        <i class="flaticon-volunteer"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-good-causes two">
                    <i class="flaticon-human-outline-with-heart"></i>
                    <h3>Make World Happy</h3>
                    <p>Lorem ipsum dolor amet, consectetur amet adipiscing elit, sed do eiusmod incididunt labore dolore ipsum dolor amet, consectetur.</p>
                    <a class="read-more" href="causes-details.html">
                        Read More
                    </a>
                    <div class="shape-icon">
                        <i class="flaticon-human-outline-with-heart"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>