@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="our-event-area">
    <div class="container">
        <div class="section-title">
            <span>Upcoming Events</span>
            <h2>Our Event</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-event">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-xl-6 pr-0">
                            <div class="event-img">
                                <img src="~/assets/img/event/1.jpg" alt="Event">
                                <div class="shape shape-11">
                                    <img src="~/assets/img/shape/11.jpg" alt="Shape">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6 pl-0">
                            <div class="event-text">
                                <h3>Donation is hope</h3>
                                <p>Lorem ipsum dolor sit amet, elip consectetur adipiscing sed.</p>
                                <ul>
                                    <li>
                                        <i class="flaticon-maps-and-flags"></i>
                                        Newyork city
                                    </li>
                                    <li>
                                        <i class="flaticon-clock-circular-outline"></i>
                                        8.00 am-5.00 pm
                                    </li>
                                    <li>
                                        <i class="flaticon-calendar"></i>
                                        5 November 2019
                                    </li>
                                </ul>
                                <a class="read-more" href="EventDetail">
                                    Read More
                                </a>
                                <span>01</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-event">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-xl-6 pr-0">
                            <div class="event-img">
                                <img src="~/assets/img/event/2.jpg" alt="Event">
                                <div class="shape shape-11">
                                    <img src="~/assets/img/shape/11.jpg" alt="Shape">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6 pl-0">
                            <div class="event-text">
                                <h3>Donation is hope</h3>
                                <p>Lorem ipsum dolor sit amet, elip consectetur adipiscing sed.</p>
                                <ul>
                                    <li>
                                        <i class="flaticon-maps-and-flags"></i>
                                        Newyork city
                                    </li>
                                    <li>
                                        <i class="flaticon-clock-circular-outline"></i>
                                        8.00 am-5.00 pm
                                    </li>
                                    <li>
                                        <i class="flaticon-calendar"></i>
                                        5 November 2019
                                    </li>
                                </ul>
                                <a class="read-more" href="EventDetail">
                                    Read More
                                </a>
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-event">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-xl-6 pr-0">
                            <div class="event-img">
                                <img src="~/assets/img/event/3.jpg" alt="Event">
                                <div class="shape shape-11">
                                    <img src="~/assets/img/shape/11.jpg" alt="Shape">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6 pl-0">
                            <div class="event-text">
                                <h3>A hand for children</h3>
                                <p>Lorem ipsum dolor sit amet, elip consectetur adipiscing sed.</p>
                                <ul>
                                    <li>
                                        <i class="flaticon-maps-and-flags"></i>
                                        Newyork city
                                    </li>
                                    <li>
                                        <i class="flaticon-clock-circular-outline"></i>
                                        8.00 am-5.00 pm
                                    </li>
                                    <li>
                                        <i class="flaticon-calendar"></i>
                                        5 November 2019
                                    </li>
                                </ul>
                                <a class="read-more" href="EventDetail">
                                    Read More
                                </a>
                                <span>03</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-event">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-xl-6 pr-0">
                            <div class="event-img">
                                <img src="~/assets/img/event/4.jpg" alt="Event">
                                <div class="shape shape-11">
                                    <img src="~/assets/img/shape/11.jpg" alt="Shape">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6 pl-0">
                            <div class="event-text">
                                <h3>Make Donation</h3>
                                <p>Lorem ipsum dolor sit amet, elip consectetur adipiscing sed.</p>
                                <ul>
                                    <li>
                                        <i class="flaticon-maps-and-flags"></i>
                                        Newyork city
                                    </li>
                                    <li>
                                        <i class="flaticon-clock-circular-outline"></i>
                                        8.00 am-5.00 pm
                                    </li>
                                    <li>
                                        <i class="flaticon-calendar"></i>
                                        5 November 2019
                                    </li>
                                </ul>
                                <a class="read-more" href="EventDetail">
                                    Read More
                                </a>
                                <span>04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>