@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="footer-top-area ptb-100-70">
    <div class="container">
        <div class="section-title">
            <span>Stay Updated</span>
            <h2>Newsletter</h2>
            <div class="widget subscribe">
                <form class="newsletter-form subscribe-form" data-toggle="validator">
                    <input type="email" class="input-newsletter subscribe-field" placeholder="Enter email address" name="EMAIL" required autocomplete="off">
                    <button type="submit" class="search-submit default-btn subscribe-submit">Sbuscribe</button>
                    <div id="validator-newsletter" class="form-result"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-widget">
                    <a href="index.html">
                        <img src="~/assets/img/white-logo.png" alt="">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultric gravida. Risus commodo viverra maecenas accumn lacus vel facilisis.</p>
                    <ul class="social-icon">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-widget">
                    <h3>Fundraised More</h3>
                    <ul>
                        <li>
                            <a href="#">Medical</a>
                        </li>
                        <li>
                            <a href="#">Memorial</a>
                        </li>
                        <li>
                            <a href="#">Emergency</a>
                        </li>
                        <li>
                            <a href="#">Education</a>
                        </li>
                        <li>
                            <a href="#">Charity</a>
                        </li>
                        <li>
                            <a href="#">Organization</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-widget">
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="#">Help Center</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Press Center</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-widget">
                    <h3>Address</h3>
                    <ul class="address">
                        <li>
                            <i class="fa fa-map-marker"></i>
                            660 Brooklyn street, New York street
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#c5ada0a9a9aa85abacb3aaeba6aaa8"><span class="__cf_email__" data-cfemail="553d3039393a153b3c233a7b363a38">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#4a222f2626250a23242c2564292527"><span class="__cf_email__" data-cfemail="cea6aba2a2a18ea7a0a8a1e0ada1a3">[email&#160;protected]</span></a>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <a href="tel:+(321)-948-754">+(321) 948 754</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>