<!-- day la phan menu o tren dau trang-->
<div class="nivo-header-style-one fixed-top">
    <div class="header-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <ul class="header-information ">
                        <li>
                            <a href="tel:+(321)-948-754">
                                <i class="fa fa-phone"></i>
                                +(321) 948 754
                            </a>
                        </li>
                        <li>
                            <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#b9d1dcd5d5d6f9d7d0cfd697dad6d4">
                                <i class="fa fa-envelope"></i>
                                <span class="__cf_email__" data-cfemail="fe969b929291be90978891d09d9193">[email&#160;protected]</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="social-icon">
                        <li>
                            Follow Us:
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar-area">

        <div class="mobile-nav">
            <a href="index" class="logo">
                <img src="~/assets/img/nivo-logo.png" alt="Nivo Logo">
            </a>
        </div>

        <div class="nivo-nav-one">
            <div class="main-nav">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="index">
                            <img src="~/assets/img/nivo-logo.png" alt="Nivo Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="~/main/index" class="nav-link active">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/main/aboutus" class="nav-link">About</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/main/eventdetail" class="nav-link">Event(Query)</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/main/listprogram" class="nav-link">Program</a>
                                </li>
                                @*<li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">Project</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="ListProject" class="nav-link">Project</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="ProjectDetail" class="nav-link">Project Details</a>
                                        </li>
                                    </ul>
                                </li>*@
                                <li class="nav-item">
                                    <a href="~/main/contact" class="nav-link">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/main/information" class="nav-link">Information</a>
                                </li>

                            </ul>
                            <div class="others-option">
                                <div class="others-options">
                                    <div class="option-item">
                                        <i class="search-btn fa fa-search"></i>
                                        <i class="close-btn fa fa-close"></i>
                                        <div class="search-overlay search-popup">
                                            <div class='search-box'>
                                                <form class="search-form">
                                                    <input class="search-input" name="search" placeholder="Search" type="text">
                                                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="~/main/donation" class="donate">Donate Now</a>
                            </div>
                        </div>
                    </div>
                    <style>
                        #user {
                            margin-right: 10px
                        }

                        #login, #logout {
                            font-size: 15px;
                            font-weight: 600;
                            border-radius: 10px;
                            color: #0094ff;
                            padding: 4px 25px;
                            margin: 0 auto 0 0;
                            border: 2px solid #0094ff;
                            transition: all 0.5s;
                        }

                            #login:hover, #logout:hover {
                                padding: 4px 25px;
                                color: azure;
                                background: #1123B7;
                                border: 2px solid #1123B7;
                            }
                    </style>
                    @if (ViewBag.MEMBER != null)
                    {
                        <ul id="user" class="list-group">
                            <li class="list-group-item list-group-item-primary">Hello, @ViewBag.MEMBER.Name</li>
                        </ul>
                        <a href="~/login/logout" id="logout">Logout &nbsp;<i class="fa fa-sign-out"></i></a>
                    }
                    else
                    {
                        <a href="~/login" id="login">Login &nbsp;<i class="fa fa-sign-in"></i></a>
                    }
                </nav>
            </div>
        </div>
    </div>
</div>