@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Trang tri-->
<section class="help-area two">
    <div class="container">
        <div class="help-title">
            <h2>Some Good Causes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
            <a class="default-btn" href="Donation">Donate Now</a>
            <a class="default-btn join" href="#">Join Now</a>
        </div>
    </div>
    <div class="container">
        <div class="counter-wrap">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="2500">00</span>
                        <p>Since</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="2005">00</span>
                        <p>Projects</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="3004">00</span>
                        <p>Volunteers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="2004">00</span>
                        <p>Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>