@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Logo partner-->
<section class="partner-area pb-100">
    <div class="container">
        <div class="section-title">
            <span>Our Fundraising</span>
            <h2>Charity Organization Worked In The Fundraising </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
        </div>
        <div class="partner-wrap owl-carousel owl-theme">
            <div class="single-logo">
                <img src="~/assets/img/partner-logo/1.png" alt="Partner">
            </div>
            <div class="single-logo">
                <img src="~/assets/img/partner-logo/2.png" alt="Partner">
            </div>
            <div class="single-logo">
                <img src="~/assets/img/partner-logo/3.png" alt="Partner">
            </div>
            <div class="single-logo">
                <img src="~/assets/img/partner-logo/4.png" alt="Partner">
            </div>
            <div class="single-logo">
                <img src="~/assets/img/partner-logo/5.png" alt="Partner">
            </div>
        </div>
    </div>
</section>