@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="reasons-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="reasons-img">
                    <img src="~/assets/img/organaization.png" alt="Reasons">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="single-good-causes reasons">
                            <i class="flaticon-gift"></i>
                            <h3>Happy Hour</h3>
                            <p>Lorem ipsum dolor amet,sed do eli elit, sed.</p>
                            <a class="read-more" href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="single-good-causes reasons">
                            <i class="flaticon-harvest"></i>
                            <h3>Healthy Life</h3>
                            <p>Lorem ipsum dolor amet,sed do eli elit, sed.</p>
                            <a class="read-more" href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="single-good-causes reasons">
                            <i class="flaticon-home"></i>
                            <h3>Home shelter</h3>
                            <p>Lorem ipsum dolor amet,sed do eli elit, sed.</p>
                            <a class="read-more" href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <div class="single-good-causes reasons">
                            <i class="flaticon-water-bottle"></i>
                            <h3>Drinking Water</h3>
                            <p>Lorem ipsum dolor amet,sed do eli elit, sed.</p>
                            <a class="read-more" href="#">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>