@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="latest-news-area ptb-100-70">
    <div class="container">
        <div class="section-title">
            <span>Latest News</span>
            <h2>Some of The Recent Stories</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-news">
                    <div class="news-img">
                        <a href="blog-details.html">
                            <img src="~/assets/img/news/1.jpg" alt="News">
                        </a>
                        <div class="date">
                            <span>1 November</span>
                        </div>
                    </div>
                    <div class="news-text">
                        <ul>
                            <li>
                                <i class="flaticon-man-user"></i>
                                By
                                <a href="#">Admin</a>
                            </li>
                            <li>
                                <i class="flaticon-speech-bubbles-comment-option"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a href="blog-details.html">Highlight of the fundraising</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur eiussi adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                        <a class="read-more" href="blog-details.html">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-news">
                    <div class="news-img">
                        <a href="blog-details.html">
                            <img src="~/assets/img/news/2.jpg" alt="News">
                        </a>
                        <div class="date">
                            <span>2 November</span>
                        </div>
                    </div>
                    <div class="news-text">
                        <ul>
                            <li>
                                <i class="flaticon-man-user"></i>
                                By
                                <a href="#">Admin</a>
                            </li>
                            <li>
                                <i class="flaticon-speech-bubbles-comment-option"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a href="blog-details.html">
                                A place start a new life with peace
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur eiussi adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                        <a class="read-more" href="blog-details.html">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-news">
                    <div class="news-img">
                        <a href="blog-details.html">
                            <img src="~/assets/img/news/3.jpg" alt="News">
                        </a>
                        <div class="date">
                            <span>3 November</span>
                        </div>
                    </div>
                    <div class="news-text">
                        <ul>
                            <li>
                                <i class="flaticon-man-user"></i>
                                By
                                <a href="#">Admin</a>
                            </li>
                            <li>
                                <i class="flaticon-speech-bubbles-comment-option"></i>
                                <a href="#">3 Comments</a>
                            </li>
                        </ul>
                        <h3>
                            <a href="blog-details.html">Build school for poor children</a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur eiussi adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                        <a class="read-more" href="blog-details.html">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>