<aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
    <div class="mdc-drawer__header">
        <a href="../../index.html" class="brand-logo">
            <img src="~/assetsAdmin/images/logo.svg" alt="logo">
        </a>
    </div>
    <div class="mdc-drawer__content">
        <div class="mdc-list-group">
            <nav class="mdc-list mdc-drawer-menu">
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="../../index.html">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                        Admin
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item ">
                    <a class="mdc-expansion-panel-link" href="~/member/list" data-toggle="expansionPanel" data-target="sample-page-submenu">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">person</i>
                        Member
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item ">
                    <a class="mdc-expansion-panel-link" href="~/membertype/list" data-toggle="expansionPanel" data-target="sample-page-submenu">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">person</i>
                        Member Type
                    </a>
                </div>
                <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="https://www.bootstrapdash.com/demo/material-admin-free/jquery/documentation/documentation.html" target="_blank">
                        <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">description</i>
                        Documentation
                    </a>
                </div>
            </nav>
        </div>
        <div class="profile-actions">
            <a href="javascript:;">Settings</a>
            <span class="divider"></span>
            <a href="javascript:;">Logout</a>
        </div>
        
    </div>
</aside>

