@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MainLayoutAll";
}
<div class="page-title-area item-bg-1">
    <div class="container">
        <div class="page-title-content">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a href="index.html">
                        Home
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>


<section class="about-area abouts-areas ptb-100 two">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="~/assets/img/abouts-2.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <span>About Us</span>
                    <h2>A Dream in their Mind is Our Mission</h2>
                    <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy.</p>
                    <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi ullam quibusdam, maiores a explicabo magnam dolor? Architecto velit, assumenda dolore consectetur adipisicing elit explicabo magnam dolor? Architecto velit, assumenda dolore magnam dolor? Architecto Lorem ipsum, dolor sit amet consectetur Architecto</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="help-area two">
    <div class="container">
        <div class="help-title">
            <h2>Some Good Causes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
            <a class="default-btn" href="#">Donate Now</a>
            <a class="default-btn join" href="#">Join Now</a>
        </div>
    </div>
    <div class="container">
        <div class="counter-wrap">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="2500">00</span>
                        <p>Since</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="2005">00</span>
                        <p>Projects</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="3004">00</span>
                        <p>Volunteers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="single-conuter">
                        <span class="odometer" data-count="2004">00</span>
                        <p>Projects</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="get-started-today-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="get-started-img">
                    <img src="~/assets/img/get-started/get-started.png" alt="Donation">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="get-started-title">
                    <span>Get Started Today</span>
                    <h2>Our Fundraise Plans</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="get-started-list">
                    <img src="~/assets/img/get-started/1.png" alt="Started">
                    <h3>Education For Children</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                </div>
                <div class="get-started-list">
                    <img src="~/assets/img/get-started/2.png" alt="Started">
                    <h3>Home For Homeless People</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                </div>
                <div class="get-started-list">
                    <img src="~/assets/img/get-started/3.png" alt="Started">
                    <h3>Free Medical Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                </div>
                <a class="default-btn" href="#">
                    Learn More
                </a>
            </div>
        </div>
    </div>
</section>


<section class="organaization-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="organaization-text">
                    <h2>Small Growing charity organaization wants to raise money</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis suspendisse gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.Lorem Ipsum is simple dummy text of the printing and typesetting industry.</p>
                    <a class="default-btn" href="#">
                        How Donate
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="organaization">
                    <img src="~/assets/img/organaization-2.jpg" alt="Organaization">
                </div>
            </div>
        </div>
    </div>
</section>