@model IEnumerable<NGO.Models.MappingClass.ProgramImage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/LayoutAdmin/_AdminLayout.cshtml";
}

<h1 class="text-center">Program Images</h1>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>